


.contactContainer{
	background-color: #28445F;
/*	padding-top:10px;*/
	height: 100vh;
}

.section{
	width: 70%;
	height: 700px;
	position: relative;
	margin:auto;
	/*margin-top: 30px;*/
	padding:20px;
	background-color: white;
	top: 20px;
}

.md-form label{
	font-size: 12pt;
}

.nameLabel{
	font-size: 12pt;
}