.About{
	background-color:#cdbeb3;
	padding: 20px;
}

#aboutInfo {
	background-color: #cdbeb3;
}
/*
.containerAbout{
	margin-top: 30px;
	margin-bottom: 30px;
}*/

.aboutTitle {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 10px;
}


.about-profile-pic {
	float:left;
	margin-right: 20px;
}

.bioContent{
	/*float:left;*/
/*	margin:10px;*/
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 500;
	color:black;
}