.skills{
	background-color:#FFC107;
	height: 100vh;
	color: white;
	font-family: Quicksand, sans-serif;
}

.containerSkills{
	padding-top: 30px;
	padding-bottom: 15px;
	
}

.skillTitle{
	text-align: center;
	font-size: 40pt;
	font-weight: normal;
	margin-bottom: 10px;
}

.offerTitle{
	text-align: center;
	font-size: 28pt;
	font-weight: 500;
}

.skillsTexts {
	font-size: 15px;
}